* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

/* adding font for all page */
body {
    font-family: Helvetica, Arial, sans-serif;
} 

header {
    padding: 30px 35px;
    background-color: rgb(4, 0, 255 );
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
}

/* apply styles to <header> */
header h1 {
    font-weight: bold;
    font-size: 36px;
    margin: 0;
    text-decoration: underline;
    display: inline;
    color: white;

}


/* apply styles to <a> */
header a {
    text-decoration: none;
    color: white;
  }

header nav {
    float: right;
    margin: 7px 0;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    margin: 0 30px;
    text-decoration-line: underline;
    font-weight: bold;
    font-size: 24px;
    float: right;
   
}

header nav ul li a:hover {
    text-shadow: 0px 0px 20px;
}

section {
    background-color:rgb(220, 240, 245);
}


.about-me {
    text-align: center;
    float: right;
}

.about-me-section {
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
}

.about-me-div {
    text-align: center;
    background-color: rgba(0, 153, 255, 0.123);
    border-radius: 15px;
    
}

.about-me-div h2 {
    padding: 20px;
}

.about-me-info {
    padding: 35px;
    font-size: 20px;
}

.img-about-me-dario {
    border-radius: 15px;
    padding 5px;
}

.about-me-info {
    padding: 10px;
}

.work-experience-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}

.work-experience-div {
    text-align: center;
    background-color: rgba(0, 153, 255, 0.123);
    border-radius: 15px;
    padding: 30px;
}

.work-experience h2 {
    padding: 20px;
    display: inline-block;
    width: 100%;
}

.sabre {
    padding: 15px;
    font-size: 20px;
}

.sally-beauty {
    padding: 15px;
    font-size: 20px;
}

.alon-usa {
    padding: 15px;
    font-size: 20px;
}

.built-website-section {
    padding: 50px;
    display: flex;
    justify-content: space-evenly;
}

.built-website-div {
    background-color: rgba(0, 153, 255, 0.123);
    border-radius: 15px;
}

.built-website {
    text-align: center;
   
}

.built-website h2 {
    display: inline-block;
    width: 100%;
    padding: 20px;

}

.website-url  {
    padding: 10px;
    font-size: 20px;
    } 


.website-runbuddy{
    padding: 10px;
    text-align: center; 
}

.website-horiseon{
    text-align: center;
    padding: 10px;
}

.img-runbuddy {
    border-radius: 15px;
    padding 5px;
}

.img-runbuddy:hover {
    box-shadow: 0 0 10px 10px rgb(4, 0, 255);;    
}

.img-horiseon {
    border-radius: 15px;
    padding 5px;
}

.img-horiseon:hover {
    box-shadow: 0 0 10px 10px rgb(4, 0, 255);
}


.contact-me {
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.contact-me-div {
    background-color: rgba(0, 153, 255, 0.123);
    border-radius: 15px;
    padding: 25px;
}

.contact-me h2 {
    text-align: center;
}

.contact-me h3 {
    text-align: center;
    padding: 10px 10px 0 0;
}


/* footer added */
footer {
    color: white;
    text-align: center;
    font-style: italic;
    font-size: smaller;
    background-color: ;
    padding: 30px 35px;
    background-color: rgb(4, 0, 255);;
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width:980px) {
    header {
        padding-bottom: 0;
        justify-content: center;
      }

      header h1 {
        width: 100%;
        text-align: center;
      }

      header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
      }
  

    .contact-me-div {
        background-color: rgba(0, 153, 255, 0.123);
        border-radius: 15px;
        padding: 25px;
    }
     

  