* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

/* adding font for all page */
body {
    font-family: Helvetica, Arial, sans-serif;
} 

header {
    padding: 30px 35px;
    background-color: navy;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
}

/* apply styles to <header> */
header h1 {
    font-weight: bold;
    font-size: 36px;
    margin: 0;
    text-decoration: underline;
    display: inline;
    color: white;

}


/* apply styles to <a> */
header a {
    text-decoration: none;
    color: white;
  }

header nav {
    float: right;
    margin: 7px 0;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    margin: 0 30px;
    text-decoration-line: underline;
    font-weight: bold;
    font-size: 24px;
    float: right;
   
}

header nav ul li a:hover {
    text-shadow: 0px 0px 20px;
}

section {
    background-color: white;
}


.about-me {
    text-align: center;
}

.about-me-dario {
    border-radius: 8px;
    padding 5px;  
}

.about-me h2 {
    padding: 35px 0 0 0;
    display: inline-block;
    width: 25%;
}

.about-me-info {
    text-align:justify
    padding: 35px;
    font-size: 20px;
    display: block;
    flex-wrap: wrap;
}

.work-experience-box {
    text-align: center;
}

.work-experience h2 {
    padding: 35px 0 0 0;
    border-bottom: 3px solid;
    display: inline-block;
    width: 25%;
}

.sabre {
    padding: 15px;
    font-size: 20px;
}

.sally-beauty {
    padding: 15px;
    font-size: 20px;
}

.alon-usa {
    padding: 15px;
    font-size: 20px;
}

.built-website {
    text-align: center;
    
}

.built-website h2 {
    padding: 35px 0 0 0;
    border-bottom: 3px solid;
    display: inline-block;
    width: 75%;

}

.website-url  {
    padding: 30px;
    font-size: 20px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap; 
    
}

.website-runbuddy{
    padding: 5px;
    text-align: center; 
}

.website-horiseon{
    text-align: center;
    padding: 5px;
}

.img-runbuddy {
    border-radius: 8px;
    padding 5px;
}

.img-runbuddy:hover {
    box-shadow: 0 0 5px 5px navy;
    
}

.img-horiseon {
    border-radius: 8px;
    padding 5px;
}

.img-horiseon:hover {
    box-shadow: 0 0 5px 5px navy;
}


.contact-me {
    padding: 35px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.contact-me h2 {
    text-decoration-line: underline;
}


/* footer added */
footer {
    color: white;
    text-align: center;
    font-style: italic;
    font-size: smaller;
    background-color: ;
    padding: 30px 35px;
    background-color: navy;
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width:980px) {

}


/*MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {

}

/*MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {

}